
.item {
  text-align: center;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-avatar {
  background-color: #2196F3;
  color: #ffffff
}

:host ::ng-deep .comment-card{
  .p-card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .comment-author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    font-weight: bold;
  }
}
