<div class="backlog-view mt-2">
  <p-accordion class="sprint-header">
    <ng-container *ngFor="let sprint of activeSprints">
      <p-accordionTab header="{{sprint.name}} (active)"></p-accordionTab>
    </ng-container>

    <ng-container *ngFor="let sprint of nonActiveSprints">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div>{{ sprint.name }}</div>
          <p-button class="ms-auto" icon="pi pi-ellipsis-v" (onClick)="$event.stopPropagation(); menuActiveItem=sprint.id; menuSprint.toggle($event)" severity="secondary"
                    [text]="true"></p-button>
        </ng-template>
      </p-accordionTab>
    </ng-container>
  </p-accordion>

  <p-button label="Create new sprint" (onClick)="createSprint()" [raised]="true" [text]="true"
            class="d-flex flex-row justify-content-center align-items-center mb-4 mt-2"></p-button>

  <p-accordion [activeIndex]="[0]">
    <p-accordionTab header="Backlog">
      <ng-container *ngFor="let issue of issuesProductBacklog">
        <div class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
          <div class="ms-4">{{ issue.name }}</div>
          <div class="d-flex flex-row align-items-center">
            <p-avatar  pRipple label="{{getInitials(issue.assignee)}}" shape="circle"
                      class="me-2 avatar-click" (click)="menuActiveItem = issue.id; isAssignee= issue.assignee; menuAssignee.toggle($event)"></p-avatar>
            <p-button icon="pi pi-ellipsis-v" severity="secondary" [text]="true"
                      (onClick)="menuActiveItem = issue.id; menuIssue.toggle($event)"></p-button>
          </div>
        </div>
      </ng-container>
      <p-button icon="pi pi-plus" (onClick)="createIssue()" [raised]="true" [text]="true"
                class="d-flex flex-row justify-content-center align-items-center"></p-button>
    </p-accordionTab>
  </p-accordion>
</div>

<p-menu #menuIssue [model]="issueMenu" [popup]="true" (click)="$event.stopPropagation()"></p-menu>
<p-menu #menuSprint [model]="sprintMenu" [popup]="true" (click)="$event.stopPropagation()"></p-menu>
<p-menu #menuAssignee [model]="assigneeMenu" [popup]="true" (click)="$event.stopPropagation()" (onShow)="generateAssignMenu()"></p-menu>
<p-confirmDialog [style]="{width: '35vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
