<div class="backlog-view mt-2">
  <p-accordion class="sprint-header" [multiple]="true">
    <ng-container *ngIf="activeSprint">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div>
            {{ activeSprint.name }}
            <p-tag class="ms-2" severity="success" value="active"></p-tag>
          </div>
          <p-button class="ms-auto" icon="pi pi-ellipsis-v"
                    (onClick)="$event.stopPropagation(); menuActiveItem=activeSprint.id; menuSprint.toggle($event); isActive = true"
                    severity="secondary"
                    [text]="true"
                    *ngIf="authService.isProductOwner() || authService.isScrumMaster()"></p-button>
        </ng-template>
        <ng-container *ngFor="let issue of activeSprint.issues">
          <div class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
            <div class="ms-4">
              {{ issue.name }}
              <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                     value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
              <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
            </div>
            <div class="d-flex flex-row align-items-center">
              <p-avatar label="{{getInitials(issue.assignee)}}" shape="circle" class="me-2"></p-avatar>
            </div>
          </div>
        </ng-container>
      </p-accordionTab>
    </ng-container>

    <ng-container *ngFor="let sprint of nonActiveSprints">
      <p-accordionTab pDroppable (onDrop)="dropOnSprintAction(sprint)">
        <ng-template pTemplate="header">
          <div>{{ sprint.name }}</div>
          <p-button class="ms-auto" icon="pi pi-ellipsis-v"
                    (onClick)="$event.stopPropagation(); menuActiveItem=sprint.id; menuSprint.toggle($event); isActive = false"
                    severity="secondary"
                    [text]="true" *ngIf="authService.isProductOwner() || authService.isScrumMaster()"></p-button>
        </ng-template>
        <ng-container *ngFor="let issue of sprint.issues">
          <div pDraggable (onDragStart)="onDropActiveSprint=sprint; menuActiveItem=issue.id"
               class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
            <div class="ms-4">
              {{ issue.name }}
              <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                     value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
              <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
            </div>
            <div class="d-flex flex-row align-items-center">
              <p-avatar pRipple label="{{getInitials(issue.assignee)}}" shape="circle"
                        class="me-2 avatar-click"
                        (click)="menuActiveItem = issue.id; isAssignee= issue.assignee; menuAssignee.toggle($event)"></p-avatar>
              <p-button icon="pi pi-info-circle" severity="secondary" [text]="true"
                        (onClick)="showIssueDetails(issue)"></p-button>
              <p-button icon="pi pi-ellipsis-v" severity="secondary" [text]="true"
                        (onClick)="menuActiveItem = issue.id; menuIssue.toggle($event)"
                        *ngIf="authService.isProductOwner() || authService.isScrumMaster()"></p-button>
            </div>
          </div>
        </ng-container>
      </p-accordionTab>
    </ng-container>
  </p-accordion>

  <p-button label="Create new sprint" (onClick)="createSprint()" [raised]="true" [text]="true"
            class="d-flex flex-row justify-content-center align-items-center mb-4 mt-2"
            *ngIf="authService.isProductOwner() || authService.isScrumMaster()"></p-button>

  <p-accordion [activeIndex]="[0]">
    <p-accordionTab header="Backlog" pDroppable (onDrop)="dropOnBacklogAction(onDropActiveSprint!)">
      <ng-container *ngFor="let issue of issuesProductBacklog">
        <div pDraggable (onDragStart)="menuActiveItem = issue.id"
             class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
          <div class="ms-4">
            {{ issue.name }}
            <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                   value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
            <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
          </div>
          <div class="d-flex flex-row align-items-center">
            <p-avatar pRipple label="{{getInitials(issue.assignee)}}" shape="circle"
                      class="me-2 avatar-click"
                      (click)="menuActiveItem = issue.id; isAssignee= issue.assignee; menuAssignee.toggle($event)"></p-avatar>
            <p-button icon="pi pi-info-circle" severity="secondary" [text]="true"
                      (onClick)="showIssueDetails(issue)"></p-button>
            <p-button icon="pi pi-ellipsis-v" severity="secondary" [text]="true"
                      (onClick)="menuActiveItem = issue.id; menuIssue.toggle($event)"
                      *ngIf="authService.isProductOwner() || authService.isScrumMaster()"></p-button>
          </div>
        </div>
      </ng-container>
      <p-button icon="pi pi-plus" (onClick)="createIssue()" [raised]="true" [text]="true"
                class="d-flex flex-row justify-content-center align-items-center"
                *ngIf="authService.isProductOwner() || authService.isScrumMaster()"></p-button>
    </p-accordionTab>
  </p-accordion>
</div>

<p-menu #menuIssue [model]="issueMenu" [popup]="true" (click)="$event.stopPropagation()"></p-menu>
<p-menu #menuSprint [model]="sprintMenu" [popup]="true" (click)="$event.stopPropagation()"
        (onShow)="generateSprintMenu()"></p-menu>
<p-menu #menuAssignee [model]="assigneeMenu" [popup]="true" (click)="$event.stopPropagation()"
        (onShow)="generateAssignMenu()"></p-menu>
<p-confirmDialog [style]="{width: '35vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
