<div class="m-4">
  <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column">
      <label for="name">Name</label>
      <input type="text" id="name" pInputText formControlName="name" class="mb-1">
      <label for="description">Description</label>
      <input type="text" id="description" pInputText formControlName="description" class="mb-1">
      <label for="estimation">Estimation</label>
      {{ est.value }}
      <p-slider #est [max]="20" id="estimation" formControlName="estimation"
                class="mt-2 mb-2 selectTypeOrPriorityOrEstimation"></p-slider>
      <label for="issueType">Issue type</label>
      <p-dropdown appendTo="body" id="issueType" [(ngModel)]="selectedType" formControlName="issueTypeID"
                  [options]="issueTypes" optionLabel="type" [showClear]="true"
                  class="mb-1 selectTypeOrPriorityOrEstimation"
                  placeholder="Select type of issue">
        <ng-template let-item pTemplate="item">
          <p-tag value="{{item.type}}"></p-tag>
        </ng-template>
        <ng-template pTemplate="selectedItem">
          <p-tag *ngIf="selectedType" value="{{selectedType.type}}"></p-tag>
        </ng-template>
      </p-dropdown>
      <label for="issuePriority">Issue priority</label>
      <p-dropdown appendTo="body" id="issuePriority" [(ngModel)]="selectedPriority" formControlName="issuePriorityID"
                  [options]="issuePriorities" optionLabel="priority" [showClear]="true"
                  class="mb-1 selectTypeOrPriorityOrEstimation"
                  placeholder="Select priority of issue">
        <ng-template let-item pTemplate="item">
          <p-tag severity="{{colorPriorityTag(item.priority)}}" value="{{item.priority}}"></p-tag>
        </ng-template>
        <ng-template pTemplate="selectedItem">
          <p-tag severity="{{colorPriorityTag(selectedPriority.priority)}}" *ngIf="selectedPriority" value="{{selectedPriority.priority}}"></p-tag>
        </ng-template>
      </p-dropdown>
    </div>
    <p-button type="submit" label="Submit" [disabled]="!issueForm.valid || !issueForm.dirty"></p-button>
  </form>
</div>
