<ng-container *ngIf="!!activeSprint">
  <div class="kanban-board" cdkDropListGroup>
    <div class="kanban-column" cdkDropList [cdkDropListData]="toDo" (cdkDropListDropped)="drop($event)">
      <h2>To Do</h2>

      <ng-container *ngFor="let issue of toDo">
        <div cdkDrag class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
          <div class="ms-4">
            {{ issue.name }}
            <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                   value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
            <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
          </div>
        </div>
      </ng-container>

    </div>

    <div class="kanban-column" cdkDropList [cdkDropListData]="inProgress" (cdkDropListDropped)="drop($event)">
      <h2>In Progress</h2>

      <ng-container *ngFor="let issue of inProgress">
        <div cdkDrag class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
          <div class="ms-4">
            {{ issue.name }}
            <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                   value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
            <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
          </div>
        </div>
      </ng-container>

    </div>

    <div class="kanban-column" cdkDropList [cdkDropListData]="codeReview" (cdkDropListDropped)="drop($event)">
      <h2>Code Review</h2>

      <ng-container *ngFor="let issue of codeReview">
        <div cdkDrag class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
          <div class="ms-4">
            {{ issue.name }}
            <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                   value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
            <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
          </div>
        </div>
      </ng-container>

    </div>
    <div class="kanban-column" cdkDropList [cdkDropListData]="inTest" (cdkDropListDropped)="drop($event)">
      <h2>In Test</h2>
      <ng-container *ngFor="let issue of inTest">
        <div cdkDrag class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
          <div class="ms-4">
            {{ issue.name }}
            <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                   value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
            <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="kanban-column" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
      <h2>Done</h2>

      <ng-container *ngFor="let issue of done">
        <div cdkDrag class="issue-card mb-2 d-flex flex-row justify-content-between align-items-center">
          <div class="ms-4">
            {{ issue.name }}
            <p-tag severity="{{colorPriorityTagById(issue.issuePriorityID)}}"
                   value="{{namePriorityById(issue.issuePriorityID)}}" class="ms-2"></p-tag>
            <p-tag value="{{nameTypeById(issue.issueTypeID)}}" class="ms-2"></p-tag>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
  <p-confirmDialog [style]="{width: '35vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
</ng-container>
<ng-container *ngIf="!activeSprint">
  <div class="message-container">
    <div>
      <span class="sad-face">;(</span>
      <span class="oops">Oops!</span>
    </div>
    <div class="message">No active sprint</div>
  </div>
</ng-container>

