<div class="d-flex justify-content-center">
  <p-card header="Login" class="w-25 mt-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="d-flex flex-column mb-1">
        <label for="email">Email</label>
        <input type="text" id="email" pInputText formControlName="email" class="mb-1"/>
        <small id="email-help" class="p-error"
               *ngIf="loginForm.get('email')?.invalid  && loginForm.get('email')?.dirty">Email is
          incorrect</small>

        <label for="password">Password</label>
        <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true"
                    class="mb-1" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
        <small id="password-help" class="p-error"
               *ngIf="loginForm.get('password')?.invalid  && loginForm.get('password')?.dirty">Password is
          required</small>
      </div>

      <p-button type="submit" label="Login" severity="success" class="p-button-success mt-2"
                [disabled]="loginForm.invalid"></p-button>
      <p-button label="Send" [routerLink]="['sign-up']" class="ms-2"></p-button>
    </form>
  </p-card>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
