:host ::ng-deep .project-class{
  .p-card {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    height: 28rem;
    cursor: pointer;
  }
}

:host ::ng-deep .add-project-class{
  .p-card {
    height: 28rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }
}

i{
  font-size: 2.5rem
}
