<div class="members-list">
  <div class="title">Members</div>

  <div class="member-card mb-2">
    <p-avatar label="{{getInitials(owner!)}}" shape="circle" class="me-2 ms-2"></p-avatar>
    <div class="fw-bold me-2">{{ owner!.firstName }} {{ owner!.lastName }}</div>
    {{ owner!.email }}
  </div>
  <ng-container *ngFor="let member of members">
    <div class="member-card mb-2 justify-content-between">
      <p-avatar label="{{getInitials(member)}}" shape="circle" class="me-2 ms-2 avatar-click"></p-avatar>
      <div class="fw-bold me-2">{{ member.firstName }} {{ member.lastName }}</div>
      {{ member.email }}
      <p-button class="ms-auto" icon="pi pi-ellipsis-v"
                (onClick)="activeUserId = member.uuid ; menu.toggle($event)"
                severity="secondary"
                [text]="true"
                *ngIf="authService.isScrumMaster()"></p-button>
    </div>
  </ng-container>

  <form [formGroup]="addUserLabel" (ngSubmit)="addUserToProject()" *ngIf="authService.isScrumMaster()">
    <div class="d-flex flex-column mb-1">
    <label for="email">Email</label>
    <input pInputText id="email" formControlName="email"/>
    <small id="email-help" class="p-error"
           *ngIf="addUserLabel.get('email')?.invalid  && addUserLabel.get('email')?.dirty">Email is incorrect</small>
    </div>
    <p-button type="submit" label="Add member" (onClick)="addUserToProject()"
              [disabled]="addUserLabel.invalid"></p-button>
  </form>


  <p-menu #menu [model]="menuUser" [popup]="true" (onShow)="generateUserMenu()"></p-menu>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
